@import url('https://fonts.googleapis.com/css?family=Sansita');

body {
	background: rgba(122,0,0,1);
	background: -moz-linear-gradient(left, rgba(122,0,0,1) 0%, rgba(122,0,0,1) 0%, rgba(122,0,0,1) 25%, rgba(122,0,0,1) 29%, rgba(143,2,34,1) 52%, rgba(109,0,25,1) 73%, rgba(109,0,25,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(122,0,0,1)), color-stop(0%, rgba(122,0,0,1)), color-stop(25%, rgba(122,0,0,1)), color-stop(29%, rgba(122,0,0,1)), color-stop(52%, rgba(143,2,34,1)), color-stop(73%, rgba(109,0,25,1)), color-stop(100%, rgba(109,0,25,1)));
	background: -webkit-linear-gradient(left, rgba(122,0,0,1) 0%, rgba(122,0,0,1) 0%, rgba(122,0,0,1) 25%, rgba(122,0,0,1) 29%, rgba(143,2,34,1) 52%, rgba(109,0,25,1) 73%, rgba(109,0,25,1) 100%);
	background: -o-linear-gradient(left, rgba(122,0,0,1) 0%, rgba(122,0,0,1) 0%, rgba(122,0,0,1) 25%, rgba(122,0,0,1) 29%, rgba(143,2,34,1) 52%, rgba(109,0,25,1) 73%, rgba(109,0,25,1) 100%);
	background: -ms-linear-gradient(left, rgba(122,0,0,1) 0%, rgba(122,0,0,1) 0%, rgba(122,0,0,1) 25%, rgba(122,0,0,1) 29%, rgba(143,2,34,1) 52%, rgba(109,0,25,1) 73%, rgba(109,0,25,1) 100%);
	background: linear-gradient(to right, rgba(122,0,0,1) 0%, rgba(122,0,0,1) 0%, rgba(122,0,0,1) 25%, rgba(122,0,0,1) 29%, rgba(143,2,34,1) 52%, rgba(109,0,25,1) 73%, rgba(109,0,25,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a0000', endColorstr='#6d0019', GradientType=1 );
	margin: 0;
	padding: 0;
}

header {
	background-color: #7A0000;
    height: 150px;
    margin-bottom: 60px;
}

main {
	max-width: 70%;
	margin: 0 auto;
	background-color: #DEDEDE;
	-webkit-box-shadow: 11px 13px 65px 17px rgba(255,255,255,1);
	-moz-box-shadow: 11px 13px 65px 17px rgba(255,255,255,1);
	box-shadow: 11px 8px 65px 15px rgba(255,255,255,1);
}

h1 {
    text-align: center;
    color: coral;
    text-transform: uppercase;
    text-shadow: 5px 4px #4d0000;
}

.content-holder {
	max-width: 90%;
	margin: 0 auto;
}

header .logo {
	text-decoration: none;
	font-family: font-family: 'Sansita', sans-serif;
	font-size: 40px;
	line-height: 35px;
	float: left;
	color: #ffffff;
	padding-top: 40px;
}

header span {
	display: block;
    font-size: 50px;
    position: absolute;
	letter-spacing: 5px;
    margin-left: 70px;
}

nav {
	float: right;
}

nav li {
	list-style: none;
	float: left;
	padding: 20px;
}

nav a {
	text-decoration: none;
    text-align: center;
    display: block;
    color: #ffffff;
}

.home:before {
	content: url(images/home-softuni-logo.png);
}

.news:before {
	content: url(images/news.png);
}

.team:before {
	content: url(images/team.png);
}

.contacts:before {
	content: url(images/contacts.png);
}

.home:before, .news:before, .team:before, .contacts:before {
    padding-bottom: 10px;
    display: block;
}

nav li:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}

footer p {
	text-align: center;
}